@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
.logo {
  font-family: "Amiri", serif;
  font-weight: normal;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

.main-bg,
.social,
.pagination {
  position: absolute;
}

.social {
  display: none;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
}
