@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10 px
}

h1,
.logo {
  font-family: "Amiri", serif;
  font-weight: normal;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

strong {
  color: #232c33;
}

.main-bg,
.social,
.pagination {
  position: absolute;
}

.social {
  display: none;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .logo {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    img {
      transform: translateX(-7px);
      height: 1.4rem;
    }
  }

  .menu {
    height: 30px;
  }
  ul {
    display: none;
  }
}

.main-bg {
  background: linear-gradient(to bottom, white, transparent),
    url("../img/adam-miller-dBaz0xhCkPY-unsplash.jpg") no-repeat top / cover;
  width: 40%;
  height: 100%;
  z-index: -1;
  right: 0;
}

.main-content {
  padding: 25vh 6rem 0 5rem;

  h1 {
    font-size: 3.5rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-left: -5rem;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-left: 35%;
    background-image: linear-gradient(
      to right,
      #f0f3f4 25%,
      transparent 25%,
      transparent
    );
  }
}

footer {
  width: 80%;
  background: #232c33;
  display: flex;
  position: absolute;
  bottom: 5vh;

  .space {
    width: 10rem;
    height: 10rem;
    background: url("../img/casey-horner-RmoWqDCqN2E-unsplash.jpg") no-repeat
      center / cover;
  }

  .cta {
    color: white;
    text-decoration: none;
    align-self: center;
    margin: 3rem auto;
    position: relative;
    white-space: nowrap;

    &:before {
      content: "";
      position: absolute;
      width: 95%;
      height: 3.2rem;
      border: 0.5px solid white;
      left: -1rem;
      top: -1rem;
    }
  }
}

.pagination {
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  right: 0;
  top: 30vh;
  li {
    padding: 1rem 2rem 2rem 1rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid #232c33;
      border-radius: 50%;
    }
  }

  .active::before {
    background: #232c33;
  }
}

@media screen and (min-width: 550px) {
  html {
    font-size: 75%; // 12 px
  }
  .menu {
    display: none;
  }

  nav ul {
    display: flex;

    li a {
      color: black;
      text-decoration: none;
      display: block;
      padding: 1rem 1.5rem;
      font-size: 1.2rem;
    }
  }

  .main-content {
    p {
      width: 90%;
      padding-left: 25%;
    }
  }

  .social {
    display: unset;
    z-index: 1;
    left: 0;
    top: 47vh;
    background: rgba(255, 255, 255, 0.8);

    li {
      padding: 0.6rem 1rem;

      svg {
        height: 1.5rem;
        width: 1.5rem;
        fill: #232c33;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 87.5%; // 14 px
  }
  footer {
    width: 70%;

    .space {
      width: 15rem;
      height: 15rem;
    }
  }
  .main-content {
    padding: 25vh 8rem 0 7rem;
    p {
      margin-left: -7rem;
      // width: 90%;
      // padding-left: 25%;
    }
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%; // 16 px
  }
  .main-content {
    p {
      width: 50%;
      padding-left: 15%;
    }
  }
  .main-bg {
    right: 3rem;
  }
}
